[2013-12-09 11:29] dizzzz opened #3 "Add receiver management UI"
Currently management functions are already available.
It would be nice to implement a simple UI to start/stop/kill/monitor  receivers.

[2013-12-09 11:32] dizzzz opened #4 "Introduce map(*) for $additionalParameters in jms:register() function"
Currently the implementation allows to send additional values to the HoF as item()*

[code]

it is probably more logical to have a map here instead?

[code]

[2013-12-09 11:33] dizzzz opened #5 "Make compatible with eXist v5 and release version 1.0"
The module is functional complete. Releasing a version v1.0 will attract users.

[2013-12-09 11:35] dizzzz opened #6 "Update doc.xar for replication text"
The current doc-application contains outdated information about the replication feature.
The page should be updated with references to the GitHub wiki.
Add some text about JMS/messaging.

[2013-12-17 08:30] dizzzz commented on #4
on second thought........ why? A map is an item.....

[2013-12-17 08:30] #4 closed, assigned to dizzzz

[2013-12-31 19:51] dizzzz opened #7 "Split error reporting"
When fn:error() is called an error is logged in exist.log and the issue is visible via the jms:report() function.

Decide what to do:
- either record XPathExceptions/fn:error separate from other problems -> do not mark as real issue, for info only
- have fn:error() to stop receiving messages (and mark message as not received)

I think the 2nd option would be most logical since there is no good way

[2014-01-10 11:50] dizzzz commented on #3
Added to release 0.4

[2014-01-10 11:50] #3 closed, assigned to dizzzz

[2014-01-10 21:37] dizzzz opened #8 "Message receive ACK failure"
The extension uses two parts to guarantee a message is delivered:

Sender test a request for client/receiver acknowledge

[code]

The receiver sets this ACK:

[code]

However if the HoF function contains a fn:error("aaaa") statement (wrong!) the message is marked as delivered.

Actually in JmsConnectionExceptionListener the error is received and logged, but the message is not marked as failed

[2014-01-11 17:55] dizzzz opened #9 "Receiver must have state ERROR upon connection loss"
When a consumer-connection has a "Connection reset", the state of the receiver stays "STARTED".

Make the receiver go into a "ERROR' or alike mode, so it is clear in the report function the receiver is stopped.

Note that the "connection.client-id" has lost as well; in no way the receiver can be revived (expected behaviour according to documentation)

[2014-01-12 21:06] dizzzz commented on #8
fixed in  303924098447521e363c5f5525d8404193ee1d7f  and 661a1d9ef1788c2f3df4ebdbde818aff61684c71

[2014-01-12 21:07] #8 closed, assigned to dizzzz

[2014-01-12 21:10] dizzzz opened #10 "Align replication code with messaging"
The messaging extension has a fix where messages are now reliably handed over to another receiver when a receiver 'crashes'.

Thie same design must be used for the replication feature

[2014-01-13 07:44] dizzzz opened #11 "v0.5"

[2014-01-13 07:45] #11 closed, assigned to nobody

[2014-01-13 07:45] dizzzz opened #12 "v0.4"

[2014-01-13 07:45] #12 closed, assigned to nobody

[2014-01-21 21:24] dizzzz commented on #7
as part of the change, the error listener and the normal listener can be combined.
upon certain exceptions, the Receiver.close() shall be called

[2014-02-09 19:29] dizzzz commented on #10
implemented

[2014-02-09 19:29] #10 closed, assigned to dizzzz

[2014-02-09 19:30] dizzzz commented on #6
done

[2014-02-09 19:30] #6 closed, assigned to dizzzz

[2014-02-09 22:06] #7 closed, assigned to dizzzz

[2014-02-09 22:08] dizzzz opened #13 "Make replication function start-able with XQuery function"
With this, changing conf.xml is not required anymore

[2014-02-09 22:22] dizzzz opened #14 "Add support for 'temporary queues'"
Although it must be possible already, explicit support shall be added to support 'temporary queues'.

With TQ's it is possible to interact with eXist-db in a request-response style, using JMS.this can be a good alternative over HTTP.

note: eXist-db will not initiate a temp. queue connection, because this will potentially block the database by over-consuming database brokers

[2014-02-10 10:16] dizzzz opened #15 "handleMessage( $content ) should not contain a document node"
The current implementation returns a document-node() in stead of a 'normal' node.
This should be changed

[2014-02-10 12:30] adamretter commented on #14
Dannes,

We are using temporary queues in another project for doing Request/Response over JMS (with ActiveMQ). I just wanted to mention that they should not be considered performant, there is an overhead with creating a temporary queue for every request/response operation. Also you need to remember to set the correct security properties on the temporary queues, and also to tear them down when you

[2014-02-10 12:32] adamretter commented on #15
Why do you think it should not use a document node? If you look at many of eXist's modern extension functions which return XML or take XML they use document nodes and not elements. I believe this is because it is much more intuitive to the user when writing XPath across them, as users expect the same kinda behavior as fn:doc and fn:collection.

[2014-02-10 12:39] dizzzz commented on #15
Thnx for you thoughts!

The root of my idea is the following: Imagine a document <A><B>c</B></A>. if $content contains a document-node, the way to fetch the c-value is $content//A/B whilst $content/A/B looks more logical to me.

Or am I mistaken with my xpaths here?

[2014-02-10 12:43] dizzzz commented on #14
I know that TQs are not performant due to the overhead. I guess that connection pooling/buffering (object reuse) does not help here? I spent quite some time introducing the buffering in the extension.

About the security/cleanup issues you mention: does this apply to clients that connect to the system only, or will there some challenges involved for the eXist-db extension?

[2014-02-10 12:50] adamretter commented on #14
Well for any JMS queue, you need to have a security policy, otherwise anyone could inject any malicious message into your queue, or read off messages from the queue and prevent others from receiving them. The same is true of temporary queues, however as you created them dynamically you may also have to apply the security policy to them dynamically (depending on how you have Active MQ configured).

[2014-02-10 13:01] adamretter commented on #15
Well you do not need the `//` necessarily. If A is the first child of the document, then simply `$content/A` will work perfectly, which is much more logical than $content being the element `A`, as IMHO it fits with the behavior of other functions.

[2014-02-10 15:44] dizzzz commented on #15
I am pretty use that $content/A does not work. I'll check.

[2014-02-10 16:17] cmisztur commented on #14
+1 for Request/Response pattern.

[2014-02-10 21:09] dizzzz commented on #14
@cmisztur Actually my idea was to have eXist-db as a passive component.... Like a webserver but then with JMS.
I'll study @adamretter 's input....

[2014-02-10 22:14] dizzzz commented on #15
you are right, it just works.

[2014-02-10 22:14] #15 closed, assigned to dizzzz

[2014-02-10 22:18] adamretter commented on #15
That's XPath! ;-)

[2014-02-22 09:29] ingoma opened #16 "warning: old data directory"
the startup-log of exist (dev-branch, 20140130) provides the following info:

Information: Warning: package uses old-style content dir: '/my/data/dir/expathrepo/jms-lib-0.5/jms-lib'

[2014-02-22 09:36] ingoma opened #17 "emphasize installation of package"
to be honest, I experimented without success for while, until I recognized, that message replication has to be installed as a package at first! :smile:

You should mention that in every doc/howto. Please emphasize the preferred way! I guess via exist's dashboard package manager.

[2014-02-22 10:04] ingoma opened #18 "wiki: from 3000 to 1010"
I suggest to change the second line in the sample

<pre>
let $doc := <doc>just some data</doc>
for $i in (1000 to 3000)
return
    xmldb:store('/db/replicated', concat('mydoc', $i , ".xml"), $doc)
</pre>

to

<pre>
for $i in (1000 to 1010)
</pre>

because ten sample docs are enough. And it can be quite tricky to get rid of 2000 docs in dashbord.

It might be helpfull to add the following lines:

<

[2014-02-23 18:27] dizzzz commented on #17
thnx for the feedback I'll add a install page

[2014-02-23 18:29] dizzzz commented on #16
yes, i have seen it. Well I consider Warnings not as a problem :-) I'll check with @wolfgangmm what is going on because the application has been generated by exude.

[2014-02-23 18:31] dizzzz commented on #18
right you are :-)

Actually this code I have used to do some performance measurements for the extension, used for the XML prague conference last year.

I'll update the numbers, and will add true remove code as well. Thnx

[2014-02-23 18:43] dizzzz commented on #18
done, see https://github.com/eXist-db/messaging-replication/wiki/Document-replication

[2014-02-23 18:43] #18 closed, assigned to dizzzz

[2014-02-23 18:44] dizzzz commented on #16
"This is coming from the expath library. It is just an info."

[2014-02-23 18:44] #16 closed, assigned to nobody

[2014-02-23 19:31] dizzzz commented on #17
Done https://github.com/eXist-db/messaging-replication/wiki/Installation

[2014-02-23 19:31] #17 closed, assigned to dizzzz

[2014-02-25 09:11] ingoma opened #19 "Message not readable"
When I am in _Home_ -> _Manage Receivers_, I see in Column _E_ a number, which is a link.

While On Mouse over, a InfoBox appears, but it isn't readable. The text is behind the right border of the browser window.

I am using Firefox 24.1.0

[2014-02-25 09:20] ingoma opened #20 "Receivers not deleted or not removed from the list"
In _Home_ -> _Manage Receivers_ -> _JMS Manager_:
- As I clicked on delete receiver icon, the receiver disapperad from the list.
- But after _Refresh_ all receivers showed up again.
- A lick on info-icon shows:
  <pre>
  exerr:ERROR No receiver exists for id '1' [at line 47, column 24, source: /db/apps/messaging-replication/modules/app.xql]
  </pre>

It's not clear whether the recievers are closed

[2014-02-25 09:37] ingoma commented on #20
After restart of eXist, all receivers are still in the list.

A click on info-icon shows:

<pre>
exerr:ERROR Permission denied, user 'jms' must be a DBA or be in group 'guest' [at line 47, column 24, source: /db/apps/messaging-replication/modules/app.xql]
</pre>

[2014-02-25 09:42] ingoma commented on #20
I logged in into dashboard as admin. The knwon message from post #1 still appears:

<pre>
exerr:ERROR No receiver exists for id '1' [at line 47, column 24, source: /db/apps/messaging-replication/modules/app.xql]
</pre>

So far my investigation ...

[2014-02-25 10:02] dizzzz commented on #19
You Can click in the (i) information symbol no? The mouse over can indeed be a bit unreadable I'll remove that fuctionality

[2014-02-25 10:04] dizzzz commented on #20
If after a restart all receivers are still there, that you have a caching issue in your browser. I don;t have a solution yet for preventing caching the pages yet,,,,,,

the "exerr:ERROR No receiver exists for id '1'" is certainly caused by that, please do a 'shift-reload' in your browser.

[2014-02-25 17:34] ingoma commented on #20
Forcing reload with ctrl-F5 helped.

[2014-02-25 17:34] #20 closed, assigned to nobody

[2014-03-03 18:46] dizzzz opened #21 "Verify callback function"
if it is possible to store the incoming data

[2014-03-14 17:55] dizzzz commented on #21
Checked, it is possible. There was a userid issue. Fixed in release 0.6

[2014-03-14 17:55] #21 closed, assigned to nobody

[2014-03-16 08:44] dizzzz opened #25 "NoSuchMethodError: XQueryContext.getRealUser()"
0.6 Version of the jar.
Due to the fact that I use the conf.xml Startup-Trigger to register the ‘callback’- function I do get the following error:

[code]

[2014-03-24 21:17] dizzzz commented on #25
closed

[2014-03-24 21:17] #25 closed, assigned to nobody

[2014-04-02 17:41] dizzzz opened #27 "Migrate code to Java7"
Java7 makes code much more clean.

[2014-04-02 17:45] dizzzz commented on #27
Done with https://github.com/dizzzz/messaging-replication/commit/92aaedbb639cc5633f800f876f4bd058f2856ac2 will be merged into 'develop'

[2014-04-02 17:48] dizzzz commented on #27
done 7f621288377546b1ab2c68f0ef006dc5dd93645e

[2014-04-02 17:48] #27 closed, assigned to nobody

[2014-04-03 19:42] dizzzz opened #30 "Replication: NoSuchMethodError on eXist-db 2.1"
[code]

[2014-04-03 19:44] dizzzz commented on #30
Fixed with #29

[2014-04-03 19:44] #30 closed, assigned to nobody

[2014-04-24 20:39] dizzzz commented on #19
since it was too condensed, it has been removed. Access via the (i) symbol

[2014-04-24 20:39] #19 closed, assigned to nobody

[2014-04-24 20:41] dizzzz commented on #13
implemented with https://github.com/eXist-db/messaging-replication/commit/5aecd4cb58b4862528a9a358a11cb4c57b80aa5e

[2014-04-24 20:41] #13 closed, assigned to dizzzz

[2014-04-24 20:41] dizzzz opened #35 "Migrate to Bootstrap3"
BS3 is the new default css/templating framework for exist-db;
a switch is a logical step

[2014-05-06 17:13] dizzzz commented on #35
done.

[2014-05-06 17:13] #35 closed, assigned to dizzzz

[2014-05-08 10:54] dizzzz commented on #9
ActiveMq provides an option to set a TransportListener on a connection. https://activemq.apache.org/maven/5.8.0/apidocs/org/apache/activemq/transport/TransportListener.html

[2014-06-24 20:04] phattire opened #40 "owner/group/perms not replicated"
When saving a resource on the master, any change to owner/group/perms do
not get replicated to the slaves.

eXist 2.1
ActiveMQ 5.9.1
exist-messaging-replication 0.7.4

[2014-06-24 20:36] dizzzz commented on #40
Started development ....

[2014-06-25 19:35] dizzzz commented on #40
please verify the use case:
- on mastere a stored resource the owner/group/perms is changed
- the change is not replicated to the slaves

The update metadata trigger is not called at all, so the mechanism can't work anyway :-(
Work around: store document again completely with new perms

logged case: https://github.com/eXist-db/exist/issues/250
work: https://github.com/eXist-db/messaging-replicatio

[2014-06-25 20:02] dizzzz opened #42 "Refactor package structure"
Curent package names have been chosen with a specific idea, but plans have changed overtime.

I'll restructure the packages, make code navigation more easy (more logic)

drawback: the triggers will be moved to another location.

[2014-06-29 11:46] dizzzz commented on #40
Cant fix it right now, change required in exist-core

[2014-08-06 15:34] meshkin opened #43 "eXistMessageItem does not override abstract method Item#destroy"
hi all,
i am received following error when doing according to "how to build":

[code]

[code]

[2014-08-06 18:43] dizzzz commented on #43
What exist-db version are you using?
I think (...)  that we have a tight relation with 2.2 these days, I can't work around this anymore....

[2014-08-07 02:56] meshkin commented on #43
my exist-db version is 2.2RC.

[2014-08-07 07:20] dizzzz commented on #43
Ok, I found it: the destroy() method has been added in seconf half of may of this year; in 'develop' I added a change to support this ( https://github.com/eXist-db/messaging-replication/commit/4c3202ed72e0ab0b8208ac235a7238e7a93b0d8c ) but I did not release it yet;

two solutions on short term:
- download pre-build XARs from https://github.com/eXist-db/messaging-replication/releases
- download a Z

[2014-08-07 10:53] meshkin commented on #43
Thanks for solutions. I choose second choice, then download develop.zip and solved the problem.

[2014-08-07 11:16] dizzzz commented on #43
Ok, I'll file a new version soonish

[2014-08-07 11:16] #43 closed, assigned to dizzzz

[2014-08-09 15:42] meshkin opened #44 "replication module doesn't work!"
Hi,
I download, biuld, and install this mudule on 2 exist instance (v2.2RC2);
first: localhost:8080/exist (Master)
second : localhost:8082/exist (Slave)
then configured both of them according to guidance in site.
reustart every one and then run this query on master:

[code]

but no effect and action applied to slave!
what is mistake?
what related files contains its log?
thanks

[2014-08-09 18:00] dizzzz commented on #44
I'll write a 'diagnostic' page later this week; I have my own checklist in case of problems, I'll share it after writing.

In short: logs are in #EXIST-HOME/webapps/WEB-INF/logs/exist.log
- for the slave/receiver, during (early) eXist-db startup there are logs visible, these are there for sure in case of problems
- for the sender/master: I don't know, but if the XAR is loaded correctly, there shou

[2014-08-09 18:03] dizzzz opened #45 "Write diagnostics howto"
include log fragments etc

[2014-08-10 14:34] meshkin commented on #44
Hi,
Thanks for replies,
I am checking eXist-dbs logs:
after configured eXist-db instances, run activemq with: ./activemq start and it's running...
then started instances.
both of master and slave has not any logs related to jms, replication, cluster or etc.
however, I run following query on master and stored 10 docs in configured collection:

[code]

but had no effect on slave!
apart of master log

[2014-08-10 19:28] dizzzz commented on #44
Please make sure you don't mix up messaging (=sending messages) and replication (=syncing documents);

regarding replication:
- for this you need to define a collection.xconf file on the 'master' ; can you share this file?
- I see "ReplicationTrigger.java" which means documents are actually send out
- I asked you to check the web-interface of active MQ: are there any messages queued in the topics?

[2014-08-10 19:32] dizzzz commented on #44
please note there is a error in the wiki example:

on https://github.com/eXist-db/messaging-replication/wiki/Document%20replication there are two different dynamicTopics defined:

`dynamicTopics/eXistdb-replication-example` (master/slave)
and
`dynamicTopics/eXistdb-replication-demo` (xquery example)

that might be the reason for it not to be working. Apologies for the documentation bug :-( I have

[2014-08-10 20:07] rhhaley commented on #44
Did you extract the xar file into exist/lib/user

[2014-08-10 20:21] dizzzz commented on #44
That should not be required anymore, when the replication-receiver is started via an xquery script; this script can be automatically started during exist-db booting...

https://github.com/eXist-db/exist/blob/develop/conf.xml.tmpl#L180

this needs to be enabled manually; 2.2RC1 and newer

[2014-08-11 10:46] meshkin commented on #44
Hi,
I Created the collection.xconf file in /db/system/config/db/repl collection with following contents:

[code]

Sorry, I forgot report activemq logs!
today, I run both of instances after run activemq server; then delete 10 docs from repl collection on master and create them again. the activemq web-pages are in bellow:
![queues](https://cloud.githubusercontent.com/assets/910083/3874461/0e194ebe-2

[2014-08-12 08:27] dizzzz commented on #44
about client id: I need to verify this, it is some time ago, but I remember I did add some comments about this in the wiki documentation. it is always possible to set it.....but when no errors are shown not required.

you messages are a bit confusing to me: are we chasing replication or messaging? we MUST stay on one (1) topic otherwise support is too hard to handle

did you install the gui-xar fi

[2014-08-12 09:06] dizzzz commented on #44
the reporting suggests:
- no incoming replication event : not configured correct? client-id?
- messages are coming in (10x)

for the rest.. things look ok....

[2014-08-23 13:19] meshkin commented on #44
HI,
After I ran the ant install command, the following files were made in dist directory:
messaging-replication-develop/dist/messaging-replication-core-0.7.5.xar
messaging-replication-develop/dist/messaging-replication-ui-0.7.5.xar
then, I went to "Admin Web Application -> Packages Repository" and upload them. then they were added to installed packages.
too, I copied the jar files wihitn them to E

[2014-08-23 15:58] dizzzz commented on #44
A few points, step by step
1. The goal is still replication right?
2. Version 0.7.5 is not released yet, if possible use the downloadable 0.7.4 XARs
3. copying the JAR files to `EXIST_HOME/lib/user` is ply required if you want to start the replication listener during database startup; for now, don't copy the JAR files, start the listener via XQuery manually
4. are there any more log messages?
5. D

[2014-09-09 14:50] dizzzz commented on #44
no response, closing ticket. (can be reopenend)

[2014-09-09 14:50] #44 closed, assigned to nobody

[2014-11-11 19:43] dizzzz commented on #42
Done

[2014-11-11 19:43] #42 closed, assigned to dizzzz

[2015-08-18 13:53] dizzzz opened #54 "Fix re-replication prevention"
The value in https://github.com/eXist-db/messaging-replication/blob/develop/java/src/org/exist/jms/replication/publish/ReplicationTrigger.java#L95 is not correct.....

[2015-08-26 20:48] dizzzz opened #55 "Replication trigger cannot set username/password on connection"
[code]

[2015-08-26 20:50] #55 closed

[2015-08-27 19:43] #54 closed

[2015-08-27 19:55] ljo commented on #54
Great I was just looking at this.

[2015-08-27 19:57] dizzzz commented on #54
sorry not for playing the correct pull-request game :-)

[2015-08-27 19:58] dizzzz opened #61 "Upgrade to activemq 5.12.0"
Upgrade of commons collections is required...

[2015-09-15 18:59] cmisztur commented on #9
Yup.  I bounced my ActiveMQ server and both listeners still show STARTED but not processing anything.  Are re-connects possible?

/c

[code]

[code]

[2015-09-16 10:14] dizzzz commented on #9
yes, that is possible: https://github.com/eXist-db/messaging-replication/wiki/Tips-&-Tricks-&-Tweaks#auto-reconnect

[2015-09-17 01:29] cmisztur commented on #9
[code]

like that?

[2015-09-17 06:35] dizzzz commented on #9
Yes, that should be correct; more on `http://activemq.apache.org/failover-transport-reference.html` :

e.g. `failover:(tcp://localhost:61616,tcp://remotehost:61616)`

[2015-09-17 07:04] dizzzz commented on #9
updated the wiki, thnx

[2015-09-17 18:55] cmisztur commented on #9
Yup, that fixes the JMS listener from dying.  I am wondering if I could ever again get an EOF exception if the MQ broker shutdown is timed right.

[2015-09-19 19:38] dizzzz commented on #9
pooh, i could not say; this issue at least would implement a correct close of connection when required

[2016-02-25 20:32] #61 closed

[2016-03-17 15:14] dizzzz opened #69 "Write SSL/secure connection howto"
the wiki is yet left empty ;

[2016-03-17 15:19] dizzzz opened #70 "Upgrade to AQM 5.13.2"
get in sync with latest works:

Changelog:
https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311210&version=12334251

[2016-04-25 20:41] #70 closed

[2016-04-25 20:41] #69 closed

[2016-04-25 20:48] dizzzz opened #73 "Abort: Unable to determine mimetype"
The current code in `org.exist.jms.replication.subscribe.ReplicationJmsListener#getMimeType` triggers under conditions an exception, which aborts the store/update of a document.

This is a bad thing to happen, and must be avoided

it is unclear why the code does not work OK. a debug session is required to understand.

[code]

[2016-04-25 22:12] dizzzz commented on #73
fixed with https://github.com/eXist-db/messaging-replication/pull/74/commits/df5f2ac47aaba94bd2df0231f57500bd19aacb23

[2016-04-25 22:12] #73 closed

[2016-05-09 19:44] dizzzz commented on #40
In the upcoming version, document metadata is replicated.
Replication of changes in Collection metadata is still a problem, there are no triggers for that. Implementing this is a problem.
To work around I added `replication:sync()` and `replication:sync-metadata()` functions.

[2016-05-09 19:48] dizzzz opened #77 "Mute lock stacktrace @ master"
During replication using the new `sync` sunction the following line is logged:

[code]

the code

[code]

it looks harmless to me, but this needs some investigation/confirmation

[2016-05-09 19:58] shabanovd commented on #77
@dizzzz note: lock release always must happen at finally block

[2016-05-09 20:01] dizzzz commented on #77
sure (i'll fix) but that is not yet the issue here....
It logs because nothing was done with the lock it seems

the code is here: https://github.com/dizzzz/messaging-replication/blob/feature/metadata_replication/java/src/org/exist/jms/xquery/replication/SyncResource.java#L142

[2016-05-09 20:06] shabanovd commented on #77
https://github.com/dizzzz/messaging-replication/blob/feature/metadata_replication/java/src/org/exist/jms/xquery/replication/SyncResource.java#L217 do not lock resource, so that's why there no lock

Also, this unlock very wrong https://github.com/dizzzz/messaging-replication/blob/feature/metadata_replication/java/src/org/exist/jms/xquery/replication/SyncResource.java#L219

[2016-05-09 20:12] dizzzz commented on #77
I think I need some help from you ; I have been fighting the code for days, the current setup is the only way to get no locked-up database..... without the unlock the database just hangs.....

[2016-05-09 20:14] dizzzz commented on #40
implemented with https://github.com/eXist-db/messaging-replication/pull/76

[2016-05-09 20:15] dizzzz commented on #77
I did some reformatting, i think I am looking now in the wrong lines of code..... ?

[2016-05-09 20:19] dizzzz commented on #77
trace of reformatted code:

https://github.com/dizzzz/messaging-replication/blob/feature/metadata_replication/java/src/org/exist/jms/xquery/replication/SyncResource.java#L147

[code]

[2016-05-09 20:21] dizzzz commented on #77
Probably a cause is that I have no idea what is happening inside the trigger code....

[2016-05-09 20:34] shabanovd commented on #77
@dizzzz I can do code review in 3-5 days. Can it wait?

[2016-05-09 20:37] dizzzz commented on #77
@shabanovd yes that would be great! In the mean while I'll push out a new pre-release with a warning about this ticket.

[2016-06-16 07:34] dizzzz commented on #40
consider it fixed

[2016-06-16 07:34] #40 closed

[2016-06-16 07:44] dizzzz opened #78 "Create user/groups when not yet existing"
To make replication a bit more robust: create non-existing usernames/groups when required.
The user should have a non-accessible password

[2016-06-16 07:50] ljo commented on #78
Nice. But isn't it the UIDs/GIDs that are used? They are sometimes already occupied in a few of my usecases. Can we provide a mapping?

[2016-06-16 08:00] dizzzz commented on #78
actually the textual representation (the names) of the user/group are synced...

[2016-06-16 08:01] dizzzz opened #79 "Documentation: document the new sync functions"

[2016-06-16 08:02] ljo commented on #78
OK. so then IDs are just looked up for the logging.

[2016-06-16 08:41] ljo commented on #79
Good idea! We can set a time for a 1-on-1 if you want to do some of it collab.

[2016-06-20 20:58] #78 closed

[2016-09-10 14:47] dizzzz opened #84 "Query profiling stops messaging extension"
### context
-  exist-db rc2 build 20160820
- jms messaging 0.9.10

###  jms messaging and enabled query profiling
- The jms-listener is registered and working.
- In the monex app switching query profiling to enabled
- sending a jms message
- the listener does not process the message
- entry in the exist.log:
[code]
- no further processing of the received message is done
- disabling query profiling

[2016-09-10 14:49] dizzzz commented on #84
@shabanovd @wolfgangmm  any idea who this could influence? copyContext?

https://github.com/eXist-db/messaging-replication/blob/12d0dc558e68f0f0a6c56851a7adf3cd2bb6504e/java/src/org/exist/jms/messaging/MessagingJmsListener.java#L173

for sure I need to extend logging here

[2016-09-10 15:19] joewiz commented on #84
@dizzzz Wow, good find. This would definitely bite us.

[2016-09-11 09:18] dizzzz commented on #84
thins the actual trace:

[code]

[2016-09-11 09:20] dizzzz commented on #84
the code in`Profiler.java`

[code]

[2016-09-11 10:32] dizzzz commented on #84
the getKey() causes the NPE , hence the 'source' is null ;  the copy context is used, this does not copy the source....

[2016-10-02 10:11] dizzzz commented on #84
Fixed

[2016-10-02 10:11] #84 closed

[2016-11-03 11:34] TimoRiikonen opened #91 "Installation fails"
I have read your installation instructions for three times, but it looks like I fail to understand them properly.
Here is my own version of them, so you can check what I am doing wrong:
1	Installation of ActiveMQ
Replication uses Apache ActiveMQ JMS queue, so we need to install that.

1.	Download the latest version or version 5.14.1 from Apache.
2.	Extract files.
3.	Read rest of the instructions f

[2016-11-03 11:53] dizzzz commented on #91
Please can you be explicit where you found the instructions?  and can you elaborate what goes wrong? is there anything in the logs (exist.log)? Which eXist-db version? Which version of the replication extension?

it should actually be as easy as:
- install your activemq server
- install two XAR files via the extension manager
- start a replication listener ; either via conf.xml or via a script
- c

[2016-11-03 15:45] TimoRiikonen commented on #91
Versions: latest versions on this week of eXist and ActiveMQ.

https://github.com/eXist-db/messaging-replication/wiki
https://github.com/eXist-db/messaging-replication/wiki/Installation
https://github.com/eXist-db/messaging-replication/wiki/Startup-Triggers
https://github.com/eXist-db/messaging-replication/wiki/Document-replication#xquery-function
https://github.com/eXist-db/messaging-replication/

[2016-11-03 15:58] dizzzz commented on #91
- for generic eXist-db install questions, I'd recommend to join the 'exist-open' list, the exist-db issue tracker or our hip chat-channel
- just curious: why did you install Java8_u112 ? what is it you need from u112 that is not in u111 (the recommended version)
- in log4j(2) it is possible to set log level for a specific java package pattern. the logs will be in exist.log

[2016-11-03 16:01] dizzzz commented on #91
This is the log4j2 instruction:

https://github.com/eXist-db/messaging-replication/wiki/Tips-&-Tricks-&-Tweaks#debug

it is a bit different from your snippet.  I found the old snippet in de Wiki, my apologies. The WiKi makes searching not easy.

[2016-11-04 19:44] dizzzz opened #92 "Actual error is not visible when sending a message"
The second time running the example of http://localhost:8080/exist/apps/messaging-replication/messaging-send.html (10 messages) the following error appears:

[code]

this must be introduced in an attempt to re-use connections,.

[2016-11-04 20:36] dizzzz commented on #92
actually it was a misconfiguration; a wrong hostname, but the root cause is not visible

[code]

[2016-11-05 17:53] dizzzz opened #93 "'No SessionManager' error when receiving messages"
It appears when in the callback function the eval function is used:

[code]

the following trace appears:

[code]

[2016-11-05 19:43] dizzzz commented on #93
hmmm checking jetty's code:

http://download.eclipse.org/jetty/stable-9/xref/org/eclipse/jetty/server/Request.html#1526

a jetty session manager is actually missing. hmmmm;

Adam suggests that there is a problem in the XQueryContext cloning (where we had an issue before)

[2016-11-05 23:03] dizzzz commented on #93
in org.exist.xquery.XQueryContext#getUserFromHttpSession line 2149 it should be possible that -when the Request module is removed- the piece of code that causes the issue, is never called.

unfortunately the following line

[code]

does not seem to be active for the xquery util:eval function

[2016-11-06 10:27] #93 closed

[2016-11-07 13:10] TimoRiikonen commented on #91
It looks like I have managed to get the replication to work on master side as I can see the Topics in ActiveMQ.
A few issued I tackled to get to this point:
- eXist doesn't automatically update packages to the latest version. If I uninstall version 0.9.3 of replication package and install the package back, then it gives me version 0.9.3 again, not the latest.
- Uninstallation of replication core v

[2016-11-07 14:08] TimoRiikonen commented on #91
Script consumer worked more-or-less fine as defined in: https://github.com/eXist-db/messaging-replication/wiki/Example-receive-messages
Logs started to appear also and not just on consumer side but on master side as well (if that is somehow possible).
According to logs the sender side is working fine.
Consumer side is clearly registered to listen, but doesn't receive anything yet from Topics. Need

[2016-11-07 15:32] dizzzz commented on #91
- Regarding installing XARs: that is a eXist-db specific subject, This is not the correct place to discuss. In general: The XAR contains Java-classes and thirdparty jar-files, so indeed, after remove of an old version, a reboot is required.
- java.lang.ClassNotFoundException is an indication that the JRAS in the XARs are not known to eXist, hence the XAR install needs to be fixed.
- 0.9.12/13 shou

[2016-11-10 13:47] TimoRiikonen commented on #91
After I did what you told me not to do, I got it working (3.0beta & 0.9.13):
I compilled the source and gave command ant install which installed about eight files to eXist/lib/user. While using the conf.xml files started to appear on the client side.

[2016-11-10 15:55] dizzzz commented on #91
:-) interesting :-)

[2016-11-10 19:33] #92 closed

[2016-11-10 20:15] dizzzz commented on #79
done

[2016-11-10 20:15] #79 closed

[2016-11-10 20:18] dizzzz opened #96 "Simplify Parameter handling"
We have
- org.exist.jms.shared.JmsConfiguration
- org.exist.jms.replication.publish.PublisherParameters
- org.exist.jms.replication.subscribe.SubscriberParameters

need to either document or simplify the responsibilities of the classes

[2016-11-10 20:39] dizzzz opened #97 "Add unsubscribe feature Durable subscriptions"
https://docs.oracle.com/cd/E19798-01/821-1841/bncgd/index.html

[2016-11-10 21:04] dizzzz commented on #91
FYI: The next version of the XAR contains a bunch of example scripts that show that setting up replication is very easy :-)

[2016-11-12 18:27] dizzzz opened #103 "Wiki: add sync functions"

[2016-11-12 18:33] dizzzz opened #104 "Add status check for replication switch"
As requested by Joe

[2016-11-12 18:35] dizzzz commented on #77
not an issue....

[2016-11-12 18:35] #77 closed

[2016-11-12 18:40] dizzzz opened #105 "Add simple diagnostics page"
- [ ] check for collection.xconf in `/db/system` and `/db/`
- [ ] check reachability of broker via http [?]
- [ ] check group `jms`

[2016-11-12 18:47] dizzzz opened #106 "Rewrite status table"
Current status page often shows outdated information due to browser caching. This is very inconvenient. Better to generate the table using some javascript? {help needed}

[2016-11-12 19:30] #104 closed

[2016-11-14 13:50] TimoRiikonen commented on #91
Thank you!

So I got my replication working with R3RC1 & 0.9.13, but as the target was to get it working with R 2.2, I am not done yet.

I have now tested that both 0.9.12 and 0.9.13 are functional with that except for one issue: ActiveMQ show messages dequeued. So I am using Queue, not Topic. I get changes replicated from 2.2 to 2.2, but ActiveMQ still shows those messages in Pending state and th

[2016-11-14 17:19] dizzzz commented on #91
Ok I found the reason: [here](https://github.com/eXist-db/messaging-replication/blob/eXist_v2.2/java/src/org/exist/jms/replication/subscribe/ReplicationJmsListener.java#L147) an acknowledge of receiving the message is missing as see [here](https://github.com/eXist-db/messaging-replication/blob/develop/java/src/org/exist/jms/replication/subscribe/ReplicationJmsListener.java#L168);

It has been fixe

[2016-11-14 19:15] dizzzz commented on #91
@TimoRiikonen please could you verify the attached XARs?
[0.9.50.zip](https://github.com/eXist-db/messaging-replication/files/590249/0.9.50.zip)

I think [this commit](https://github.com/dizzzz/messaging-replication/commit/012454622f57634f7d1580e965eb30d52bfce234) should fix your issue; I forgot to port it back but it is crucial four your use case. After upgrade of the core-xar you'll need to rest

[2016-11-15 06:51] TimoRiikonen commented on #91
Thanks Dannes,

I did the following:
- Uninstalled replication & replication core modules (yes, this was mandatory step as it refused to update them otherwise)
- Copied files to autodeploy
- Logs said they were installed
- Logs said that data was sent to consumer
- Result: ActiveMQ still has two pending messages, so the change failed to mix the issue.

Should I purge those two and resend (although

[2016-11-15 08:19] dizzzz commented on #91
The messages that were already in the broker, need to removed, since these will never receive a 'ack', and they will stay there, until the TTL is reached. No idea when that will happen though.

Since a queue/toipic  is guaranteed to deliver messages is a order, I think older messages will block newer ones to be delivered.

[2016-11-15 08:57] TimoRiikonen commented on #91
Ok, queue purged and new tests sent.
It didn't help anything though: all of the changes still stay in the queue.
They don't block any other changes, but they keep arriving every time the eXist is restarted.
I did the installation on the consumer side only, but I expect that won't matter.
Btw consumer only logs on debug settings updates to file (and it logs them as deletions). Arrival of new replic

[2016-11-15 17:01] dizzzz commented on #91
Hmm according to https://github.com/eXist-db/messaging-replication/blob/v0.9.3/java/src/org/exist/jms/send/Sender.java#L150 in the XAR actually the request for ACK is sent, and in the receiving code now the ack is explicitly called.

so either the modified code is not active in you eXist-db or something else goes wrong;

I did not touch 2.x since a long time, I really wish that 3.0 is released soo

[2016-11-16 06:50] TimoRiikonen commented on #91
You are speaking of version 0.9.3, but I have tested versions 0.9.12 and
0.9.13.
Does this apply on them as well?

[2016-11-16 08:37] dizzzz commented on #91
AH, later versions, .12. and .13 included should be OK. But these are not 2.2 compatible....

[2016-11-16 11:33] TimoRiikonen commented on #91
They can be deployed to 2.2 through Package Manager. Last week version 13 was limited to 3.0RC1 only, but this week it is available to 2.2 as well.
Also the source compilation are deployed happily to the older version.

[2016-11-16 11:39] dizzzz commented on #91
Something is very wrong then. The newer versions can only work in 3RC2 due to some significant internal API changes.

If you report the newest XARs [except your custom .52 built!] do work on 2.2 then your Existdb is actually broken. Please check on the local file system which jms jar files are present.

Again if the server more or less works..... it is actually not ok.

[2016-11-18 12:59] #106 closed

[2016-11-18 13:28] dizzzz opened #112 "Messaging: Add receiver ID to message properties"
As a messaging user I'd like to see the Identity of the receiver (1,2,3..) so I can determine which receiver received a message when more receivers are active.

[2016-11-18 19:45] #112 closed

[2016-11-20 12:42] dizzzz opened #115 "Add dashboard logo"
For better recognition of the extension, add an icon to the XAR

[2016-11-20 12:43] dizzzz opened #116 "Merge XAR files"
For more easy install, distribution, development and testing, let's merge the UI and core XARs into one.

[2016-11-20 12:49] dizzzz commented on #91
Another version, with some code improvements and some syncs from the 3.0 compatible branch....
[jms-0.9.51.zip](https://github.com/eXist-db/messaging-replication/files/602024/jms-0.9.51.zip)

[2016-11-20 19:35] joewiz commented on #115
Nice that the icon you added in https://github.com/eXist-db/messaging-replication/commit/3c9db5b is public domain: https://commons.wikimedia.org/wiki/File:StarNetwork.svg.

[2016-11-22 09:41] TimoRiikonen commented on #91
I have same problem with 2.2 & 0.9.3: ActiveMQ messages remain pending forever and they are resent every time the subscriber is restarted.

No, I report that the 0.9.12 and 0.9.13 **J**ARs work on 2.2 except they have the same problem with the proper closing of ActiveMQ than what 0.9.3 has. Note that I deploy different set of other JARs along the main JAR, such as activeMQ-JMS-pool.

About half of

[2016-11-22 10:02] dizzzz commented on #91
Hi,

Extension v0.9.3 is the last _released_ version than works with eXist-2.2; as I wrote there have been significant internal API changes that did break compatibility. This means that if, like you report, a newer version works, than your eXist-db install is messed up. It is technically not possible.

So, please check the internals on you harddrive:

- `find <EXIST_HOME>/webapp/WEB-INF/data/ -nam

[2016-11-22 12:51] TimoRiikonen commented on #91
I have now 15 different installations, which attempt do you wish to look at?

This one is from 2.2 with 0.9.3
I am using Windows 10 and find doesn't work like that on my laptop, but here is same with a different tool.
JAR files are same as in default installation as I copy manually to /lib/user directory:

    exist-monex-0.5.jar
    xsltforms.jar
    exist-monex-0.5.jar
    xsltforms.jar
    exis

[2016-11-22 13:20] TimoRiikonen commented on #91
Here is 2.2 with 0.9.12:

    Directory of C:\Users\fitimriik\Documents\eXist22Master11\lib\user
    01.07.2014  17.35            56 290 activation-1.1.1.jar
    14.11.2016  11.21         1 176 084 activemq-client-5.10.0.jar
    14.11.2016  11.21            48 926 activemq-jms-pool-5.10.0.jar
    14.11.2016  11.21            19 430 activemq-pool-5.10.0.jar
    01.07.2014  17.35           361 884 e

[2016-11-22 16:21] dizzzz commented on #91
I see a mix of 0.9.12 and 0.9.50 xars and jars, that is not good...... this needs to be fixed

[2016-11-22 16:23] dizzzz commented on #91
Hi,

since you indicated a long time ago that you installed XARs earlier, I really like to ask you to such for XARs en JARs deeper under the hood; I'd need to see the contents of the directories of a failing server:

- `webapp/WEB-INF/data/expathrepo/`  (how many jms-0.x.y directories are there?)
- `webapp/WEB-INF/data/expathrepo/jms-0.x.y/content/` --> there might be more jms collections
- `data/

[2016-11-22 16:30] dizzzz commented on #91
you wrote:

so on how many instances are having an issue?

this is exactly what a *correct* install of 0.9.51 should fix

[2016-11-22 18:04] dizzzz commented on #91
FYI I uploaded 0.22.1 (22 refers exist2.2) to https://github.com/eXist-db/messaging-replication/releases and the public repo. It is a one-XAR solution, which make distribution more simple. But... all old XARs and JARs need to be removed....

[2016-11-23 15:33] TimoRiikonen commented on #91
Ok, new clean deployments with 2.2 & 0.22.1.
No JAR or XAR installations, except for this one file.

Results:
- Master seemed to work fine
- Slave closed JMS connections now

But I have the old issue why I installed JARs in the first place.
- If I define slave/consumer settings with script, slave logs that it gets the data, but it doesn't create it. Perhaps this is an issue with Windows only or so

[2016-11-23 16:37] TimoRiikonen commented on #91
Continued testing:
Restarted the whole server and made a change to the master. It failed to send it with ClassNotFound error as well:

[code]

[2016-11-23 20:25] dizzzz commented on #91
Regarding the first ('slave')..... I think I understand what is happening and remember the limitations of 2.2 ; will follow up on this

Regarding the second ('master').... so this is actually caused by a 'collection.xconf' document? I actually have not seen this myself before, this makes the 2.2 situation even worse.....

3.0Rc2 solves so many issues.....

[2016-11-23 21:16] dizzzz commented on #91
Hi Timo,

Thank you for your research, investigation and persistence! You are very correct in your observations, the `org.exist.jms.replication.publish.ReplicationTrigger` issue is actually new to me. This make me conclude that the XAR can only be used for some 'superficial' testing and demos, but as you found out, the jar files need to be separated installed in `lib/user`. This is very annoying,

[2016-11-23 21:44] dizzzz commented on #91
So for a complete cleanup and install…...

### cleanup
- start eXist-db, uninstall both XARs via the package manager, when present
- shutdown eXist-db
- in `webapp/WEB-INF/data/expathrepo`  remove all remaining ‘jms’ directories
- in `webapp/WEB-INF/data/expathrepo/.expath-pkg` edit two files
	- `packages.txt` — remove the line containing the remaining jms lines
	- `packages.xml` — remove the elem

[2016-11-24 07:08] TimoRiikonen commented on #91
I failed to uninstall the XAR even with shutting down the database, so I made a new clean installation instead.

Result:
Full success without any issues!
Environment & settings: 2.2, 0.22.1 libs & xar and conf.xml used on the slave.

[2016-11-24 07:20] dizzzz commented on #91
thank you for you feedback ; From another user (I have been supporting two install last 2 weeks) gave back the same result. I am glad the issues are solved, and it works for you. I am also glad that we finally know what a working configuration is, I will document it later today. Ok to close this long thread?

[2016-11-24 09:07] joewiz commented on #91
Whoo hoo!

[2016-11-24 10:07] #91 closed

[2017-01-08 16:15] joewiz commented on #115
This can be closed now, right? Or were you hoping to find a different logo?

[2017-01-08 17:02] dizzzz commented on #115
right you are :-) fixed with https://github.com/eXist-db/messaging-replication/commit/7560be9534c465d501d5a60c4a542bf373a50b37

[2017-01-08 17:02] #115 closed

[2017-01-08 17:03] dizzzz commented on #116
done in https://github.com/eXist-db/messaging-replication/pull/117

[2017-01-08 17:03] #116 closed

[2017-02-26 21:49] dizzzz opened #120 "Review LOCKing strategy"
as found by @adamretter

- https://github.com/dizzzz/messaging-replication/blob/develop/java/src/org/exist/jms/replication/subscribe/ReplicationJmsListener.java#L821
could use A read lock when src is not moved

https://github.com/dizzzz/messaging-replication/blob/develop/java/src/org/exist/jms/replication/subscribe/ReplicationJmsListener.java#L852
must be conditional

- https://github.com/dizzzz/m

[2017-07-15 08:32] dizzzz opened #124 "Improve reporting status listeners"
When a problem occurs during receiving a document (replication), issues are logged in exist.log and available via the UI:

<img width="933" alt="messaging_and_replication" src="https://user-images.githubusercontent.com/1700062/28237873-c8d381ec-6948-11e7-91b2-872d3d1a43d1.png">

the UI can be improved by
- adding a timestamp of the issue
- some context info which document is affected
- a reset but

[2018-02-03 01:36] ibakayoko commented on #91
I am facing the same issue can you help?
Where do i get "messaging-replication-0.22.1-libs.zip"

i followed https://github.com/eXist-db/messaging-replication/wiki/Build
without success.

I was meanly following http://www.xstep.com/apps/doc/replication.xml but i could not get it to work

Thank you

``
2018-02-02 21:32:30,521 [main] INFO  (Configuration.java [<init>]:175) - Reading configuration fro

[2018-02-04 20:15] dizzzz commented on #91
I'd propose to start a new issue, describing a lot of missing information like
- java version
- exist version
- extension version
- applied configuration (for extension and exist-db)
- how did you install the functionality? XAR?

[2018-02-05 17:34] ibakayoko opened #125 "Replication issue"
### Context information
- eXist-db version
   eXist Version : 3.6.1
   eXist Build : 201802042132
   Git commit : 3be6286

- Extension version
   exist-messaging-replication-0.30.3.jar
   messaging-replication-0.30.3.xar

- ActiveMQ broker version
  activemq-all-5.15.2.jar

- Operating system, 32/64 bit
 Mac OS X 10.11.6 x86_64

- Java version 32/64 bit
1.8.0_131
64-Bit

### Expected bahavior
Docu

[2018-02-05 17:37] ibakayoko commented on #91
@dizzzz new issue created https://github.com/eXist-db/messaging-replication/issues/125

[2018-02-05 18:42] dizzzz commented on #125
this step is really  not required any more!   Deploying the XAAR file should just do it......

[code]

this one you should have found your self. reading the logs is very important to see what is happening. From here I see that there are JAR files missing. Again, please use the XAR file, rebuilding is really not required!

[2018-02-06 15:22] ibakayoko commented on #125
Thank you for the advice.

I thought activemq-all-5.15.2.jar had all the dependencies.

I copied activemq dependencies in exist/lib/user/

[code]
When i delete the jar file **exist-messaging-replication-0.30.3.jar** i get an error

When i keep the jar file **exist-messaging-replication-0.30.3.jar** the replication works.

Please what I am my missing?

Subscriber Log
[exist.log](https://github.com/

[2018-02-06 19:14] dizzzz commented on #125
[code]

Now the jar containing the replication code is missing.

To prevent inefficient ping-ponging, please could you answer the -for me- most important question in my previous response: Why are you doing the complex copying of JAR files? It is really *not* needed, installing the XAR file via the package manager is sufficient and super simple.

The second question I asked is: what  documentation

[2018-02-06 19:54] ibakayoko commented on #125
I will try to find the link on which i found the instruction to copy the jar file.

I have installed the XAR file.
But i am not sure why when i delete the JAR file I get the error.
In the previous log you see the Error when i delete the JAR.
What I am my missing?

Should i reinstall existDB from Zero?

Thanks

[2018-02-06 20:00] dizzzz commented on #125
I did find the text, but it was clearly labeled eXist-db v2 ; there was not really a good reason apply it for exist v3.0 , which was just on top. I move the text out, but well.... it was not really needed IMO :-/

sorry, I what error did you see when you "delete the jar"? note that it is not possible to remove JAR files when a Java process is running.....

[2018-02-07 21:12] ibakayoko commented on #125
I stopped existdb and created new instances (slave and master)

The xar is enabled (via autodeploy)

when i do not put the jar i get the error below
Slave Error
[code]

Master Error
[code]

[2018-02-18 14:07] dizzzz commented on #125
Actually v0.30.3 has never been released ; it is work in progress. I really 'd like to recommend to use released XAR files only, and install them via the repo manager. In a clean database when doing your development.

please switch to v0.30.2 or to v0.30.4 which will be released somewhere this week (I hope)

[2018-02-18 14:07] #125 closed

[2018-02-18 14:07] dizzzz commented on #124
implemented

[2018-02-18 14:07] #124 closed

[2018-03-11 10:57] #120 closed

[2018-03-11 10:57] #14 closed

[2018-03-11 11:00] dizzzz opened #136 "Slow shutdown of database"
When shutting down a database with any active 'listener' The following is visible in std out:

[code]

After some time (2  minutes) the showdown continues. Probably this not a problem but we need to verify.

[2018-03-19 14:11] dizzzz opened #137 "Revise "ReplicationJmsListener" to correctly count nr of messages"
The count of the NOK documents is not OK; e.g. "self-initiated" documents actually contribute to the nr of NOK documents (which is an calculation)

This should be improved (reported by @line-o )

[2018-09-03 18:06] #9 closed

[2018-10-27 14:51] move[bot] opened #147 "ActiveMQ: Synchronization between servers"
*@sunxinpeng1994 commented on Oct 22, 2018, 3:48 PM UTC:*

The original question is on [stackoverflow](https://stackoverflow.com/questions/52599870/exist-db-content-synchronize-issue-between-different-servers)

### What is the problem

There are two eXist-db servers. One is master and one is slave. I know we can replicate the content using ActiveMQ when they are running in the same time(I made thi

[2018-10-27 14:51] ghost commented on #147
*@dizzzz commented on Oct 22, 2018, 5:37 PM UTC:*

What version of the extension are you using?

[2018-10-27 14:51] ghost commented on #147
*@sunxinpeng1994 commented on Oct 22, 2018, 5:41 PM UTC:*

Messaging and Replication
Version: 0.30.2

[2018-10-27 14:51] ghost commented on #147
*@sunxinpeng1994 commented on Oct 26, 2018, 2:56 PM UTC:*

Can I have the document about `function replication:sync()`? Because I don't find anything related.

[2018-10-27 14:51] ghost commented on #147
*@dizzzz commented on Oct 27, 2018, 2:47 PM UTC:*

if you use eXide you should be able to see which functions are available....

the code should look like

[code]

[2019-08-03 17:05] dizzzz commented on #147
no response, answer should be clear.

[2019-08-03 17:05] #147 closed

[2019-08-05 19:49] dizzzz opened #162 "eXist v5: unable to load Replication Trigger"
to be investigated: in existdb v5 the startup triggers cannot be loaded from a XAR , see log.

note: the log is at database startup ; similar issue when XAR is freshly loaded in package manager.

[code]

[2019-08-05 19:57] dizzzz commented on #162
2019-08-05 20:56:02,760 [qtp1488608048-29] DEBUG (Logger.java [debug]:38) - Trying to resolve ''{0}'' within ''{1}''
2019-08-05 20:56:56,455 [qtp1488608048-30] INFO  (Deployment.java [installAndDeploy]:219) - Package http://exist-db.org/messaging-replication depends on http://exist-db.org/apps/shared
2019-08-05 20:56:56,456 [qtp1488608048-30] DEBUG (Deployment.java [installAndDeploy]:222) - Packag

[2019-10-14 20:02] dizzzz commented on #162
fixed by #166

[2019-10-14 20:02] #162 closed

[2019-10-14 20:03] dizzzz commented on #5
fixed by #166

[2019-10-14 20:03] #5 closed

[2019-11-19 09:07] #136 closed

[2019-11-19 09:08] dizzzz opened #170 "java.lang.NoClassDefFoundError: org/apache/activemq/transport/vm/VMTransportFactory"
Running tests show:

[code]

[2021-10-30 08:14] dizzzz opened #197 "[Feature] run build/tests with multiple exist versions"
In exist-db v5.3 and v5.4 some incompatible API changes have been made, resulting in a failing jfreechart plugin;

As developer I'd like to be able to build (and test) a plugin with multiple versions of eXist so I can detect incompatibilities as early as possible.

[2021-11-01 23:04] adamretter commented on #197
@dizzzz this can be done relatively simply in Maven using Profiles, or you can do this in other more complicated ways via Docker and CI.